:root{
  --white: #FFFFFF;
  --white2: #f9f9f9;
  --white3: #eeeeee;
  --white4: #e6e6e6;
  --dark4: #c5c5c5;
  --dark3: #929292;
  --dark2: #3A3B3C;
  --dark: #181818;
  --black: #000;
  --table_row: #f2f2f2;
  --violet: #ee82ee;
  --violet_l: #fae3fa;
  --red: #F44336;
  --red_1: #ff11003e;
  --red_2: #ff0000;
  --blue: #334FEF;
  --blue_1: #daebff;
  --blue_2: #6b6fd4;
  --red_1e: #ffdada;
  --red_2e: #d46b6b;
  --orange_1e: #fff1da;
  --orange_2e: #d4af6b;
  --yellow_1e: #fffeda;
  --yellow_2e: #d4cf6b;
  --green_1e: #e4ffda;
  --green_2e: #89d46b;
  --indigo_1e: #fcdaff;
  --indigo_2e: #c96bd4;
  --green: #0a9700;
  --green1: #69ff5f;
  --green2: #cbffc7;
  --green3: #e1ffda;
  --orange_1: #fff2d9;
  --orange0: #ffd68a;
  --orange: #ffa500;
  --orange2: #af7200;
  --yellow: #c89c0c;
  --yellowBg: #c89c0c1c;
  --midnight-blue: #173540;
  --midnight-blue1: #173540d7;
  --midnight-blue2: #173540ab;
  --midnight-blue3: #17354074;
  --midnight-blue4: #17354044;
  --transparent: #00000000;
  --t_dark2: #3a3b3c79;
  --white_tint:  #ffffff5b;
  --black_tint: #0000003c;
  --sideNavColor:#f1f1f155;
  --sideNavDownBtn:#f1f1f1;
  --folder: #e3b20d;
  --toastSuccess: #2ecc71;
  --toastInfo: #3498db;
  --toastErr: #e74c3c;
  --toastAlert: #f39c12;
  --toastNeutral: #7f8cbd;
  --alertBack: #ffa60021;
  --notifyBack: #7b7b7b21;
  --errorBack: #ff000050;
  --shadow1: #00000009;
  --shadow2: #00000030;
  --overlay: #00000022;
}