@import './helpers/mixin';

$white: #FFFFFF;
$white2: #f9f9f9;
$white3: #eeeeee;
$white4: #e6e6e6;
$dark4: #c5c5c5;
$dark3: #929292;
$dark2: #3A3B3C;
$dark: #181818;
$black: #000;
$table_row: #f2f2f2;
$violet: #ee82ee;
$violet_l: #fae3fa;
$red: #F44336;
$red_1: #ff11003e;
$red_2: #ff0000;
$blue: #334FEF;
$blue_1: #daebff;
$blue_2: #6b6fd4;
$red_1e: #ffdada;
$red_2e: #d46b6b;
$orange_1e: #fff1da;
$orange_2e: #d4af6b;
$yellow_1e: #fffeda;
$yellow_2e: #d4cf6b;
$green_1e: #e4ffda;
$green_2e: #89d46b;
$indigo_1e: #fcdaff;
$indigo_2e: #c96bd4;
$green: #0a9700;
$green1: #69ff5f;
$green2: #cbffc7;
$green3: #e1ffda;
$orange_1: #fff2d9;
$orange0: #ffd68a;
$orange: #ffa500;
$orange2: #af7200;
$yellow: #c89c0c;
$yellowBg: #c89c0c1c;
$midnight-blue: #173540;
$midnight-blue1: #173540d7;
$midnight-blue2: #173540ab;
$midnight-blue3: #17354074;
$midnight-blue4: #17354044;
$transparent: #00000000;
$t_dark2: #3a3b3c79;
$white_tint:  #ffffff5b;
$black_tint: #0000003c;
$sideNavColor:#f1f1f155;
$sideNavDownBtn:#f1f1f1;
$folder: #e3b20d;
$toastSuccess: #2ecc71;
$toastInfo: #3498db;
$toastErr: #e74c3c;
$toastAlert: #f39c12;
$toastNeutral: #7f8cbd;
$alertBack: #ffa60021;
$notifyBack: #7b7b7b21;
$errorBack: #ff000050;
$shadow1: #00000009;
$shadow2: #00000030;
$overlay: #00000022;
$componentZindex: 10000;
$bacdropZindex: 9999;
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ******************************************** BACK-DROP ************************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
#backdrop-notifjs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: $bacdropZindex;

    &.drop-1 { background-color: rgba(0, 0, 0, .08); }
    &.drop-2 { background-color: rgba(0, 0, 0, .1); }
    &.drop-3 { background-color: rgba(0, 0, 0, .15); }
    &.drop-4 { background-color: rgba(0, 0, 0, .2); }
    &.drop-5 { background-color: rgba(0, 0, 0, .3); }
    &.drop-6 { background-color: rgba(0, 0, 0, .35); }
    &.drop-7 { background-color: rgba(0, 0, 0, .5); }
    &.drop-8 { background-color: rgba(0, 0, 0, .55); }
    &.drop-9 { background-color: rgba(0, 0, 0, .6); }
    &.drop-10 { background-color: rgba(0, 0, 0, .8); }

    &.show  { display: block; }
}
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ***************************************** END BACK-DROP ************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************* PROMPT **************************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
.prompt {
    * {
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
    }
    
    position: fixed;
    width: 300px;
    color: inherit;
    background-color: #fff;
    z-index: $componentZindex;
    visibility: hidden;

    &.top-left {
        top: 1%;
        left: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),5px 5px 3px rgba(0, 0, 0, .15);
        transform: translateX(-110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.top-center {
        top: 1%;
        left: 50%;
        box-shadow:  0 0 12px rgba(0, 0, 0, .15),
                        0 5px 3px rgba(0, 0, 0, .15);
        transform-origin: top;
        transform: translate(-50%,-110%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.top-right {
        top: 1%;
        right: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),-5px 5px 3px rgba(0, 0, 0, .15);
        transform: translateX(110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.right-center {
        top: 50%;
        right: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),-5px 5px 3px rgba(0, 0, 0, .15);
        transform: translate(110%,-50%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.center {
        top: 50%;
        left: 50%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),0 0 10px rgba(0, 0, 0, .15);
        transform: translate(-50%,200%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.left-center {
        top: 50%;
        left: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),
                        5px 5px 3px rgba(0, 0, 0, .15);
        transform: translate(-110%,-50%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-left {
        left: 1%;
        bottom: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),5px 5px 3px rgba(0, 0, 0, .15);
        transform: translateX(-110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-center {
        left: 50%;
        bottom: 1%;
        box-shadow:  0px 0px 12px rgba(0, 0, 0, .15),5px 5px 3px rgba(0, 0, 0, .15);
        transform: translate(-50%,110%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-right {
        right: 1%;
        bottom: 1%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .15),-5px 5px 3px rgba(0, 0, 0, .15);
        transform: translateX(110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    // === show prompt ===
    &.center.show {
        transform: translate(-50%,-50%) scale(1);
        visibility: visible;
    }

    &.top-center.show,
    &.bottom-center.show {
        transform: translate(-50%,0) scale(1);
        visibility: visible;
    }

    &.left-center.show,
    &.right-center.show {
        transform: translate(0%,-50%);
        visibility: visible;
    }
    
    &.top-left.show,
    &.bottom-left.show,
    &.top-right.show,
    &.bottom-right.show {
        transform: translateX(0%);
        visibility: visible;
    }

    .prompt-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: .2em .5em;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        p {
            width: 200px;
            font-weight: 300;
            font-size: .85rem;
            color: black;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        span {
            $w: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $w;
            height: $w;
            font-size: .8rem;
            padding: .2em;
            color: black;
            background-color: inherit;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #f93c3c;
            }
        }
    }

    .prompt-body {
        color: #000;
        min-height: 20px;
        max-height: 150px;
        padding: .2em;
        overflow: hidden auto;

        .prompt-label {
            display: block;
            width: fit-content;
            font-size: 0.85rem;
            font-weight: 600;
            letter-spacing: 0.014rem;
            color: #333232;
        }

        textarea.prompt-input,
        input.prompt-input {
            $pH: .6em;
            $pW: .4em;
            $bg: #f3f3f3;
            width: calc(100% - (($pW * 2) - 0.05em));
            padding: $pH $pW;
            font-size: .8rem;
            background-color: $bg;
            border-bottom: 1px solid $bg;

            &:focus { border-bottom: 1px solid #dfdfdf; }
            &::placeholder {font-style: italic;}
        }

        textarea.prompt-input {
            resize: none;
            height: 50px;
        }
    }

    .prompt-footer {
        padding: .5em;
        border-top: 1px solid rgba(0, 0, 0, .05);

        // checkbox container
        .prompt-checker {
            margin-bottom: .2em;

            label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: fit-content;
                padding: 0.2em;
                line-height: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;

                &>* {pointer-events: none;}

                input[type='checkbox'] {
                    width: .8em;
                    height: .8em;
                    margin-right: 0.3em;
                }

                span {
                    font-weight: 300;
                    font-size: .85rem;
                    color: black;
                }
            }
        }

        // buttons ontainer
        .prompt-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            overflow: hidden;
            
            button {
                font-size: .85rem;
                padding: .4em .5em;
                cursor: pointer;
                background-color: #f1f1f1;
                
                &:hover {
                    background-color: #d4dadd;
                }

                &:not(:last-of-type) {
                    margin: 0 .2em;
                }
            }
        }        
    }
}
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ******************************************* PROMPT END ************************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ****************************************** NOTIFICATION ************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
.notification {    
    * {
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
    }

    position: fixed;
    width: 300px;
    color: inherit;
    background-color: #fff;
    z-index: $componentZindex;
    visibility: hidden;
    
    &.top-left {
        top: 1%;
        left: 1%;
        box-shadow:  0px 0px 10px rgba(0,0,0,.05),
                    3px 3px 15px rgba(0,0,0,.25);
        transform: translateX(-110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.top-center {
        top: 1%;
        left: 50%;
        box-shadow:  0px 0px 10px rgba(0,0,0,.05), 
                        0px 10px 10px rgba(0,0,0,.25);
        transform-origin: top;
        transform: translate(-50%,-110%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.top-right {
        top: 1%;
        right: 1%;
        box-shadow:  0px 0px 10px rgba(0,0,0,.05),
                    -4px 4px 15px rgba(0,0,0,.25);
        transform: translateX(110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.right-center {
        top: 50%;
        right: 1%;
        box-shadow:  0px 0px 0px rgba(0,0,0,.05), 
                    -3px 3px 15px rgba(0,0,0,.25);
        transform: translate(110%,-50%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }
    
    &.center {
        top: 50%;
        left: 50%;
        box-shadow:  0px 0px 10px rgba(0,0,0,.05), 
                    0px 10px 10px rgba(0,0,0,.25);
        transform: translate(-50%,200%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.left-center {
        top: 50%;
        left: 1%;
        box-shadow:  0px 0px 10px rgba(0,0,0,.05),
                    3px 3px 15px rgba(0,0,0,.25);
        transform: translate(-110%,-50%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-left {
        left: 1%;
        bottom: 1%;
        box-shadow:  0px 0px 0px rgba(0,0,0,.05),
                    3px -3px 15px rgba(0,0,0,.25);
        transform: translateX(-110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-center {
        left: 50%;
        bottom: 1%;
        box-shadow:  0px 0px 0px rgba(0,0,0,.05), 
                    0px -3px 15px rgba(0,0,0,.25);
        transform: translate(-50%,110%) scale(.5);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    &.bottom-right {
        right: 1%;
        bottom: 1%;
        box-shadow: 0px 0px 0px rgba(0,0,0,.05),
                -3px 3px 15px rgba(0,0,0,.25);
        transform: translateX(110%);
        transition: transform 450ms cubic-bezier(0.44, -0.18, 0.23, 0.54);
    }

    // === show notification ===
    &.center.show {
        transform: translate(-50%,-50%) scale(1);
        visibility: visible;
    }

    &.top-center.show,
    &.bottom-center.show {
        transform: translate(-50%,0) scale(1);
        visibility: visible;
    }

    &.left-center.show,
    &.right-center.show {
        transform: translate(0%,-50%);
        visibility: visible;
    }
    
    &.top-left.show,
    &.bottom-left.show,
    &.top-right.show,
    &.bottom-right.show {
        transform: translateX(0%);
        visibility: visible;
    }

    .notification-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: .2em .5em;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        p {
            width: 200px;
            font-weight: 300;
            font-size: .85rem;
            color: black;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        span {
            $w: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $w;
            height: $w;
            font-size: .8rem;
            padding: .2em;
            color: black;
            background-color: inherit;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #f93c3c;
            }
        }
    }

    .notification-body {
        color: #000;
        min-height: 20px;
        max-height: 150px;
        padding: .2em;
        overflow: hidden auto;

        p {
            font-weight: 300;
            font-size: .8rem;
            letter-spacing: .08rem;
        }
    }

    .notification-footer {
        padding: .5em;
        border-top: 1px solid rgba(0, 0, 0, .05);

        // checkbox container
        .notification-checker {
            margin-bottom: .2em;

            label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: fit-content;
                padding: 0.2em;
                line-height: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;

                &>* {pointer-events: none;}

                input[type='checkbox'] {
                    width: .8em;
                    height: .8em;
                    margin-right: 0.3em;
                }

                span {
                    font-weight: 300;
                    font-size: .85rem;
                    color: black;
                }
            }
        }

        // buttons ontainer
        .notification-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            overflow: hidden;
            
            button {
                font-size: .85rem;
                padding: .4em .5em;
                background-color: #f1f1f1;
                cursor: pointer;

                &:not(:last-of-type) {
                    margin: 0 .2em;
                }                
                
                &:hover {
                    background-color: #d4dadd;
                }
            }
        }

        
    }
}
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* **************************************** NOTIFICATION END *********************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************* TOAST ***************************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
.toast-container-toastjs {
    @include center;
    position: fixed;
    top: -10%;
    left: 0;
    right: 0;
    z-index: 10000;
        
    .toast{
        @include horizontal;
        max-width: 25rem;
        color: $black;
        background-color: $white;
        padding: .4rem .5rem;
        border-bottom: .1rem solid;
        position: relative;
        word-break: break-all;
        word-wrap: break-word;
        top: 0;
        transition: top 1s ease-in-out;
        box-shadow: 0 0.18rem 0.3rem 0 #0000003a;

        &.active{ top: 7rem; }
        
        &::before{
            font-family: "remixicon";
            margin-right: .5rem;
        }
        
        &.success{
            border-bottom-color: $toastSuccess;
            
            &::before {
                content: '\eb80';
                color: $toastSuccess;
            }
        }
        &.error{
            border-bottom-color: $toastErr;
            
            &::before {
                content: '\eb96';
                color: $toastErr;
            }
        }
        &.info{
            border-bottom-color: $toastInfo;
            
            &::before {
                content: '\ee58';
                color: $toastInfo;
            }
        }
        &.alert{
            border-color: $toastAlert;
            
            &::before {
                content: '\ea20';
                color: $toastAlert;
            }
        }
        &.neutral{ border-color: $toastNeutral; }
    }
}
/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ******************************************* TOAST END *************************************** */
/* ********************************************************************************************* */
/* ********************************************************************************************* */